---
import Container from './Container.astro';
---

<div class="relative py-20 sm:py-24">
  <Container class="relative">
    <div class="mx-auto max-w-2xl lg:max-w-4xl lg:px-12">
      <h1 class="font-display text-5xl font-bold tracking-tighter text-blue-600 sm:text-7xl">
        À propos de Pause IA
      </h1>
      
      <div class="mt-6 space-y-6 font-display text-2xl tracking-tight text-blue-900">
        <p>
          <a href="https://pauseia.fr" class="text-blue-600 hover:text-blue-800">Pause IA</a>, la branche française de PauseAI, est une organisation à but non lucratif qui œuvre pour un développement responsable et maîtrisé de l'intelligence artificielle.
        </p>
        <p>
          Fondée en 2024, notre organisation a rapidement émergé comme une voix influente dans le débat public, notamment à travers :
        </p>

        <ul class="mt-6 space-y-6">
          <li class="flex items-start gap-3">
            <span class="text-blue-600">•</span>
            <span>Une <a href="https://contre-rapport-ia.fr/" class="text-blue-600 hover:text-blue-800">contre-expertise au rapport de la Commission de l'IA</a>, soutenue par plus de 20 experts et organisations.</span>
          </li>
          <li class="flex items-start gap-3">
            <span class="text-blue-600">•</span>
            <span>L'organisation d'une <a href="https://www.youtube.com/watch?v=wAt43dAB6FU" class="text-blue-600 hover:text-blue-800">conférence</a> multi-acteurs au Learning Planet Institute.</span>
          </li>
          <li class="flex items-start gap-3">
            <span class="text-blue-600">•</span>
            <span>La publication d'une <a href="https://www.lesechos.fr/idees-debats/cercle/opinion-ia-changer-la-gouvernance-francaise-2134531" class="text-blue-600 hover:text-blue-800">tribune</a> remarquée dans Les Echos.</span>
          </li>
          <li class="flex items-start gap-3">
            <span class="text-blue-600">•</span>
            <span>De multiples <a href="https://www.ladn.eu/tech-a-suivre/pas-de-futur-sans-ia-sure-des-technophiles-alertent-sur-les-derapages-des-ia-generatives/" class="text-blue-600 hover:text-blue-800">actions</a> citoyennes de sensibilisation.</span>
          </li>
        </ul>
      </div>
    </div>
  </Container>
</div> 