---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a' | 'button'> {
  href?: string;
  type?: 'button' | 'submit' | 'reset';
  class?: string;
  variant?: 'solid' | 'outline';
};

const { href, class: className, variant = 'solid', ...props } = Astro.props;

const baseClasses = 'inline-flex whitespace-nowrap items-center justify-center rounded-2xl p-4 text-base font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500';

const variantClasses = {
  solid: 'bg-green-800 text-white hover:bg-green-700 active:text-white/70',
  outline: 'border-2 border-red-600 text-red-600 hover:bg-red-50 active:bg-red-100'
};
---

{
  href ? (
    <a 
      {href} 
      class:list={[baseClasses, variantClasses[variant], className]} 
      {...props}
    >
      <slot />
    </a>
  ) : (
    <button 
      class:list={[baseClasses, variantClasses[variant], className]} 
      {...props}
    >
      <slot />
    </button>
  )
}