---
import Button from './Button.astro';
---
<section id="c2a" aria-labelledby="Call to action" class="my-20 sm:my-32">
  <div class="space-y-6">
    <div class="relative overflow-hidden bg-white/60 shadow-xl shadow-blue-900/5 backdrop-blur rounded-2xl border-2 border-blue-600">
      <div class="relative px-4 py-6 sm:px-16 sm:py-10">
        <div class="mx-auto flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between sm:gap-6">
          <div>
            <h3 class="font-display text-2xl font-medium tracking-tight text-blue-900">
              Prêt à participer ?
            </h3>
            <p class="mt-1 text-lg tracking-tight text-blue-900 sm:mt-2">
              Partagez votre expertise • Présentez votre projet
            </p>
          </div>
          <div class="flex border-t border-blue-900/10 pt-4 sm:border-0 sm:pt-0">
            <Button 
              href="https://coda.io/form/Formulaire-dinscription-a-l-evenement-Reprendre-le-Controle_dfk2IaQA4db" 
              variant="solid" 
              class="w-full sm:w-auto"
            >
              Remplir le formulaire
            </Button>
          </div>
        </div>
      </div>
    </div>

    <div class="relative overflow-hidden bg-white/60 shadow-xl shadow-blue-900/5 backdrop-blur rounded-2xl">
      <div class="relative px-4 py-6 sm:px-16 sm:py-10">
        <div class="mx-auto flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between sm:gap-6">
          <div>
            <h3 class="font-display text-2xl font-medium tracking-tight text-blue-900">
              Des questions ?
            </h3>
            <p class="mt-1 text-lg tracking-tight text-blue-900 sm:mt-2">
              Notre équipe est là pour vous aider
            </p>
          </div>
          <div class="flex border-t border-blue-900/10 pt-4 sm:border-0 sm:pt-0">
            <Button 
              href="mailto:contact@pauseia.fr"
              class="w-full sm:w-auto"
            >
              Contactez-nous
            </Button>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section> 