---
import Container from './Container.astro';
import Logo from './Logo.astro';
---

<footer class="flex-none py-16">
  <Container class="flex flex-col items-center md:flex-row md:justify-between">
    <div class="flex justify-center md:w-auto">
      <Logo class="h-12" />
    </div>
    <p class="mt-6 text-base text-slate-500 text-center md:text-left md:mt-0">
      Organisé par <a href="https://www.pauseia.fr" class="text-blue-600 hover:text-blue-800">Pause IA</a>
    </p>
  </Container>
</footer>