---
import Container from './Container.astro';
import Logo from './Logo.astro';
---

<footer class="py-16 bg-[#eeffee]">
  <Container class="flex flex-col items-center space-y-8 md:flex-row md:items-center md:justify-between md:space-y-0">
    <div class="flex justify-center md:w-auto">
      <Logo class="h-12" />
    </div>
    <p class="text-base text-slate-500 text-center">
      Organisé par <a href="https://www.pauseia.fr" class="text-red-600 hover:text-red-800">Pause IA</a>
    </p>
    <div>
      <a href="/confidentialite" class="text-sm text-green-600 hover:text-green-800">Politique de confidentialité</a>
    </div>
  </Container>
</footer>