---
import Container from './Container.astro';
import Logo from './Logo.astro';
---

<footer class="flex-none py-16">
  <Container class="flex flex-col items-center justify-between md:flex-row">
    <!-- <Logo class="h-12 w-auto text-slate-900" /> -->
    <p class="mt-6 text-base text-slate-500 md:mt-0">
      Organisé par <a href="https://www.pauseia.fr" class="text-blue-600 hover:text-blue-800">Pause IA</a>
    </p>
  </Container>
</footer>