---
import Container from './Container.astro';
import DiamondIcon from './DiamondIcon.astro';
import Logo from './Logo.astro';
import Button from './Button.astro';
---

<style>
  @supports (animation-timeline: scroll()) {
    @media (prefers-reduced-motion: no-preference) {
      .header-blur {
        animation: header-scroll linear both;
        animation-timeline: scroll();
        animation-range: 0 200px;
      }

      @keyframes header-scroll {
        from {
          backdrop-filter: blur(0);
          background-color: rgba(255, 255, 255, 0);
        }
        to {
          backdrop-filter: blur(12px);
          background-color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
</style>

<header class="sticky top-0 z-50 flex-none lg:p-8 header-blur">
  <Container class="flex flex-wrap items-center justify-center sm:justify-between lg:flex-nowrap">
    <div class="mt-10 lg:mt-0 lg:grow lg:basis-0">
      <Logo class="h-12 w-auto text-slate-900" />
    </div>
    <div class="order-first -mx-4 flex flex-auto basis-full overflow-x-auto whitespace-nowrap border-b border-blue-600/10 py-4 font-mono text- text-blue-600 sm:-mx-6 lg:order-none lg:mx-0 lg:basis-auto lg:border-0 lg:py-0">
      <div class="mx-auto flex items-center gap-4 px-4">
        <p>
          <time datetime="2024-02-08">8 février 2024</time>
        </p>
        <DiamondIcon class="h-1.5 w-1.5 overflow-visible fill-current stroke-current" />
        <p>Paris</p>
      </div>
    </div>
    <div class="hidden sm:mt-10 sm:flex lg:mt-0 lg:grow lg:basis-0 lg:justify-end">
      <Button href="#">S'inscrire</Button>
    </div>
  </Container>
</header> 