---
import { Image } from 'astro:assets';
import type { HTMLAttributes } from 'astro/types';
import logoImage from '../assets/logo/logo.png';
import titleImage from '../assets/logo/title.png';

interface Props extends HTMLAttributes<'div'> {
  class?: string;
  vertical?: boolean;
}

const { class: className, vertical = false, ...props } = Astro.props;
---

<div class:list={[
  "flex items-center gap-3 w-full",
  vertical ? "flex-col" : "",
  className
]} {...props}>
  <Image 
    src={logoImage}
    alt=""
    class={vertical ? "w-64" : "h-full w-auto"}
  />
  <Image 
    src={titleImage}
    alt="Reprendre le Contrôle: Forum des solutions pour une IA compatible avec l'humanité"
    class={vertical ? "w-96" : "h-full w-auto"}
  />
</div>