---
import { Image } from 'astro:assets';
import Container from './Container.astro';
import NewsletterForm from './NewsletterForm.astro';
import backgroundImage from '../assets/background-newsletter.jpg';
---

<section id="newsletter" aria-label="Newsletter">
  <Container>
    <div class="relative -mx-4 overflow-hidden bg-indigo-50 px-4 py-20 sm:-mx-6 sm:px-6 md:mx-0 md:rounded-5xl md:px-16 xl:px-24 xl:py-36">
      <Image
        class="absolute left-1/2 top-0 translate-x-[-10%] translate-y-[-45%] lg:translate-x-[-32%]"
        src={backgroundImage}
        alt=""
        width={919}
        height={1351}
        loading="eager"
      />
      <div class="relative mx-auto grid max-w-2xl grid-cols-1 gap-x-32 gap-y-14 xl:max-w-none xl:grid-cols-2">
        <div>
          <p class="font-display text-4xl font-medium tracking-tighter text-blue-900 sm:text-5xl">
            Suivez l'évolution
          </p>
          <p class="mt-4 text-lg tracking-tight text-blue-900">
            Soyez informés des dernières actualités de l'événement : nouveaux intervenants confirmés, 
            dates importantes, détails pratiques et mises à jour du programme.
          </p>
        </div>
        <NewsletterForm />
      </div>
    </div>
  </Container>
</section> 