---
import Container from './Container.astro';
import { Image } from 'astro:assets';

import logoAIF from '../assets/partners/AIF.svg';
import logoXRO from '../assets/partners/XRO.png';
import logoD4G from '../assets/partners/DFG.png';

const partners = [
  { 
    name: 'Existential Risk Observatory', 
    logo: logoXRO,
    url: 'https://www.existentialriskobservatory.org/'
  },
  { 
    name: 'AI Forensics', 
    logo: logoAIF,
    url: 'https://aiforensics.org/'
  },
  { 
    name: 'Data for Good', 
    logo: logoD4G,
    url: 'https://dataforgood.fr/'
  }
];

---

<section id="partners" aria-label="Partenaires" class="py-20 sm:py-32">
  <Container>
    <h2 class="mx-auto max-w-2xl text-center font-display text-4xl font-medium tracking-tighter text-blue-900 sm:text-5xl">
      Nos Partenaires
    </h2>
    <div class="mt-20 max-w-2xl flex flex-wrap justify-center gap-12 sm:mx-auto lg:mx-0 lg:max-w-none">
      {partners.map((partner) => (
        <a 
          href={partner.url}
          class="flex items-center justify-center w-full h-40 sm:w-[calc(50%-24px)] lg:w-[calc(33.333%-32px)] rounded-2xl bg-white shadow-xl shadow-blue-900/5 border border-blue-900/10 p-6 transition hover:border-blue-900/20"
          target="_blank"
        >
          <Image src={partner.logo} alt={partner.name} class="h-full w-auto object-contain" />
        </a>
      ))}
    </div>
  </Container>
</section> 