---
import Container from './Container.astro';
import { getCollection } from 'astro:content';
import SpeakerImage from './SpeakerImage.astro';

const speakers = await getCollection('speakers')
---

<section id="speakers" aria-labelledby="speakers-title" class="py-20 sm:py-32">
  <Container>
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2
        id="speakers-title"
        class="font-display text-4xl font-medium tracking-tighter text-blue-600 sm:text-5xl"
      >
        Intervenants
      </h2>
      <p class="mt-4 font-display text-2xl tracking-tight text-blue-900">
        Échangez avec des experts et acteurs engagés à l'avant-garde de la gouvernance de l'IA.
      </p>
    </div>
    <div class="mt-14 grid max-w-2xl grid-cols-1 gap-8 sm:mt-16 sm:grid-cols-2 sm:mx-auto lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {speakers.map((speaker) => (
        <div>
          <SpeakerImage speaker={speaker.data} />
          <h3 class="mt-6 text-lg font-semibold tracking-tight text-slate-900">
            {speaker.data.name}
          </h3>
          <p class="mt-1 text-base tracking-tight text-slate-500">
            {speaker.data.role}
          </p>
        </div>
      ))}
    </div>
  </Container>
</section> 