---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

type Speaker = NonNullable<CollectionEntry<'schedule'>['data']['speaker']>;

interface Props {
  speaker: Speaker;
}

const { speaker } = Astro.props;
---

<div class="group relative transform overflow-hidden rounded-2xl bg-slate-100" style="aspect-ratio: 1">
  <Image
    class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
    src={speaker.image}
    alt={speaker.name}
    format="webp"
  />
</div>