---
import { Picture } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

type Speaker = NonNullable<CollectionEntry<'speakers'>['data']>;

interface Props {
  speaker: Speaker;
}

const { speaker } = Astro.props;
---

<div class="group relative transform overflow-hidden rounded-2xl bg-slate-100" style="aspect-ratio: 1">
  <Picture
    class="absolute inset-0 h-full w-full object-contain transition duration-300 group-hover:scale-110"
    src={speaker.image}
    alt={speaker.name}
    formats={['avif', 'webp']}
    densities={[1, 1.5, 2, 2.5, 3]}
  />
</div>